<div class="container-fluid shadow border-radius table-dark">
  <div class="row">
    <div class="col-3 align-self-start p-3">
      <img src="assets/portrait.jpeg" class="border border-radius border-primary">
    </div>
    <div class="col align-self-center p-3">
      <h3 class="pb-3">Hello there! I'm John. Nice to meet you. <i class="la la-smile-beam"></i></h3>
      <p>I am a Full-Stack web developer based Greece, with a passion for games and game development.
        I mainly do stuff using the MEAN Stack, so here are some Angular components I have created over the years.</p>
      <p class="font-weight-bold">I hope you find them useful or at least fun!</p>
      <p>You can use the menu on the left to get to the corresponding features. Happy browsing!</p>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center text-right p-3">
      <i class="mx-1 la la-envelope"></i>
      <span class="mr-3 fo">john.stamtsidis@gmail.com</span>
    </div>
    <div class="col-1 text-right p-3 align-self-center">
      <a href="https://github.com/johnnyneverwalked"
         ngbTooltip="My github account"
         target="_blank">
        <i class="la la-github la-3x"></i>
      </a>
    </div>
  </div>
</div>
