<div class="container-fluid shadow border-radius table-dark">
  <div class="row">
    <div class="col-3 align-self-start p-3">
      <img src="assets/portrait.jpeg" class="border border-radius border-primary">
    </div>
    <div class="col align-self-center p-3">
      <h3 class="pb-3">Hello there! I'm John. Nice to meet you. <i class="la la-smile-beam"></i></h3>
      <p>I am a Full-Stack web developer based in Greece, with a passion for games and game development.<br>
        I mainly do stuff using the <b>MEAN Stack</b>, so here are some of the <b>Angular</b> components I have created
        over the years.</p>
      <p class="font-weight-bold">I hope you find them useful or at least fun!</p>
      <p>You can use the menu on the left to get to the corresponding features. Happy browsing!</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col align-self-center text-right p-3">
      <i class="mx-1 la la-envelope"></i>
      <span>john.stamtsidis@gmail.com</span>
      <br>
      <a href="https://github.com/johnnyneverwalked"
         ngbTooltip="My Github account"
         target="_blank">
        <i @pulsate class="la la-github la-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/john-stamtsidis-7737151a4"
         ngbTooltip="My LinkedIn account"
         target="_blank">
        <i @pulsate class="la la-linkedin-square la-2x"></i>
      </a>
    </div>
  </div>
</div>
