
<div class="row mb-5">
  <div class="col text-right">
    <app-button action="help" (btnClick)="startTour()"></app-button>
    <app-button action="shortcuts" [class]="'ml-1'" (btnClick)="shortcutsModal.show()"></app-button>
  </div>
</div>
<app-grid #grid></app-grid>

<app-tour-guide #guide
                [steps]="tourGuideSteps"
                [showDev]="false"
                [canEndFromBackdrop]="true"
                [canEditSteps]="canEditSteps"
                [canSkipSteps]="false"
                [canEndTour]="true"
                (tourEnded)="tourEnd()"
>
</app-tour-guide>


<app-modal #shortcutsModal
           [hasFooter]="false"
           headerTitle="Grid shortcuts">
  <ng-container body>
    <p class="border-bottom pb-2">These shortcuts only work in edit mode. You can enter edit mode by pressing the cog button at the bottom right of the screen.</p>
    <div>
      <div>
        <b>Double click on a widget:</b>
      </div>
      <span>Select widget</span>
      <br><br>
      <div>
        <b>Ctrl / Shift + click on a widget:</b>
      </div>
      <span>Mass select widgets</span><br><br>
      <div>
        <b>Ctrl + Α:</b>
      </div>
      <span>Select all</span><br><br>
      <div>
        <b>Del:</b>
      </div>
      <span>Delete selected widgets</span><br><br>
      <div>
        <b>click + drag cursor:</b>
      </div>
      <span>Mass select widgets</span><br><br>
    </div>
  </ng-container>
</app-modal>
